<!doctype html>
%html.no-js{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title Pioneer Valley Citizen Science Collaboratory
    %meta{:content => "Pioneer Valley Citizen Science Collaboratory", :name => "description"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    
    / Stylesheets
    %link{:href => "https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag "all"
    
    / Javascript
    = javascript_include_tag  "all"
    
  %body
    .wrap
      = partial "layouts/shared/nav"
      .container
        = yield
    = partial "layouts/shared/footer"